:root {
  --highlight-color: rgb(230, 235, 235);
  --background-color: rgb(255, 255, 255);
  --foreground-color: rgb(0, 0, 0);
  --fontsize: 20px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--highlight-color);
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  z-index: 10;
}

.row {
  display: flex;
}

.column {
  margin: 0;
  flex: 1 1 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  margin-inline: 10px;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}

.nav {
  display: flex;
  margin-top: 5px;
  margin-inline: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a, .nav a:link, .nav a:visited {
  margin-inline: 5px;
  padding: 3px;
  border: 5px solid var(--background-color);
  border-radius: 5px;
  color: inherit;
  text-decoration: None;
  background-color: var(--background-color);
}

.nav a:hover {
  background-color: var(--highlight-color);
}

.large {
  font-size: calc(1.2*var(--fontsize));
}

#logo {
  height: calc(4.8*var(--fontsize));
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@font-face {
  font-family: symbols;
  src: url(content/NotoSansSymbols2-Regular.ttf);
}

.scroll-jump, .scroll-jump:visited {
  font-family: symbols;
  display: inline-block;
  height: 15px;
  line-height: 19px;
  vertical-align: middle;
  background-color: var(--highlight-color);
  border: 3px solid var(--highlight-color);
  border-radius: 12px;
  padding-inline: 10px;
  color: var(--foreground-color);
  text-decoration: none;
}

.scroll-jump:active, .scroll-jump:hover {
  background-color: var(--background-color);
}

.project {
  flex-shrink: 0;
  display: flex;
  scroll-snap-align: start;
  width: 50%;
  height: 33vh;
  scroll-margin-top: 120px;
}

.projectcontent {
  width: 100%;
  background-color: var(--highlight-color);
}

.project .description {
  padding: 10px;
  width: 100%;
}

.project img {
  object-fit: contain;
  max-height: 100%;
}

@media (max-width: 1400px) {
  .project {
    width: 100%;
    
  }
}

@media (max-width: 700px) {
  .project {
    height: auto;
    img {
      max-width: 100%;
      max-height: 33vh;
    }
  }
  .projectcontent {
    flex-wrap: wrap;
  }

}

@font-face {
  font-family: mspace;
  src: url(content/DejaVu_Sans_Mono/DejaVuSansMono.ttf);
}

body {
  font-family: mspace;
  font-size: var(--fontsize);
  background-color: var(--background-color);
  color: var(--foreground-color);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: rgb(48, 50, 50);
    --background-color: rgb(0, 0, 0);
    --foreground-color: rgb(255, 255, 255);
  }

  .logo {
    filter: invert(100%);
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: lightgreen;
  }
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: calc(3*var(--fontsize));
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: calc(2*var(--fontsize));
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: calc(1.5*var(--fontsize));
  margin: 0;
}
